<div class="col-lg-8 mx-auto p-3 py-md-5">
  <header class="d-flex align-items-center pb-3 mb-4 border-bottom">
    <h1>Edit the budget</h1>
  </header>
  <form>
    <div class="form-group mb-4">
      <label for="budgetTitle">Title</label>
      <input type="text" class="form-control" id="budgetTitle">
    </div>

    <div class="form-group mb-4">
      <label for="budgetAmount">Amount</label>
      <input type="number" class="form-control" id="budgetAmount" >
    </div>

    <div class="form-group mb-4">
      <label for="budgetCategory">Category</label>
      <input type="text" class="form-control" id="budgetCategory">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

