
<div class="col-lg-8 mx-auto p-3 py-md-5">

  <div class="table-responsive">
    <table class="table caption-top">
      <caption>List of budgets</caption>
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Amount</th>
        <th scope="col">Category</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let budget of budgets">
        <td>{{ budget.title }}</td>
        <td>{{ budget.amount }}</td>
        <td>{{ budget.category }}</td>
        <td> <p><a class="btn btn-primary" href="#" role="button" [routerLink]="['/budgets', budget.id]">Edit</a></p></td>
      </tr>
    </tbody>
    </table>
  </div>

</div>

