<div class="col-lg-8 mx-auto p-3 py-md-5">
  <header class="d-flex align-items-center pb-3 mb-5 border-bottom">
      <h1>Family Budget</h1>
  </header>
  <main>
    <p>
      Take charge of your finances with Family Budget online budget planner.
      Our free budget tracker helps you understand your spending for a brighter financial future.
    </p>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col-md-4 col-xl-6">
            <div class="card bg-c-green order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Overall income</h6>
                    <h2 class="text-right"><i class="fa fa-rocket f-left"></i><span>486</span></h2>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xl-6">
          <div class="card bg-c-pink order-card">
              <div class="card-block">
                  <h6 class="m-b-20">Overall outcome</h6>
                  <h2 class="text-right"><i class="fa fa-rocket f-left"></i><span>224</span></h2>
              </div>
          </div>

      </div>
	</div>
</div>
  </main>
  <footer class="pt-5 my-5 text-muted border-top">
    Created by OICF7P · © 2022
  </footer>
</div>
