
<form (ngSubmit)="onSubmit($event)" [formGroup]="budgetForm">
  <div class="form-group mb-4">
    <label for="title">Title</label>
    <input required
           minlength="5"
           type="text"
           class="form-control"
           formControlName="title"
           [class.is-invalid]="isInvalidAndTouchedOrDirty('title')"
           [class.is-valid]="isValid('title')">
    <div class="invalid-feedback">Please provide a valid title - 5 characters at least</div>
  </div>

  <div class="form-group mb-4">
    <label for="amount">Amount</label>
    <input required
           type="number"
           class="form-control"
           formControlName="amount"
           [class.is-invalid]="isInvalidAndTouchedOrDirty('amount')"
           [class.is-valid]="isValid('amount')">
  </div>

  <div class="form-group mb-4">
    <label for="category">Category</label>
    <input
          required
          type="text"
          class="form-control"
          formControlName="category"
          [class.is-invalid]="isInvalidAndTouchedOrDirty('category')"
          [class.is-valid]="isValid('category')">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
