<form>
  <div class="form-group mb-4">
    <label for="budgetTitle">Title</label>
    <input required
           minlength="5"
           type="text"
           class="form-control"
           id="budgetTitle"
           ngModel
           name="budgetTitle"
           #budgetTitle="ngModel">
    <div
        class="alert alert-danger"
        *ngIf="budgetTitle.touched && !budgetTitle.valid">

      <div *ngIf="budgetTitle.errors?.['required']">
        Budget Title is required.
      </div>

      <div *ngIf="budgetTitle.errors?.['minlength']">
        Budget Title should be at least
        {{budgetTitle.errors?.['minlength'].requiredLength}} characters.
      </div>

    </div>

  </div>

  <div class="form-group mb-4">
    <label for="budgetAmount">Amount</label>
    <input required ngModel name="budgetAmount" #budgetAmount="ngModel"
          type="number" class="form-control" id="budgetAmount" pattern="[^0]" >
    <div
          class="alert alert-danger"
          *ngIf="budgetAmount.touched && !budgetAmount.valid">

        <div *ngIf="budgetAmount.errors?.['required']">
          Budget Amount is required.
        </div>

        <div *ngIf="budgetTitle.errors?.['pattern']">
          Budget Amount does not match the pattern.
        </div>

    </div>
  </div>

  <div class="form-group mb-4">
    <label for="budgetCategory">Category</label>
    <input type="text" ngModel name="budgetCategory" #budgetCategory="ngModel"
           class="form-control" id="budgetCategory">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
